.App {
  text-align: center;
}

.VideoList-header {
  display: block;
}
.card-body .card-title{
  color: #61dafb;
}
.videoList-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: red 1px solid;
}

